In [2]:
import pyspark
import pandas as pd 

df = pd.read_csv('FB.csv')

In [3]:
df.head()

,Date,ID,Close,Low,High,Volume,C(t-5),C(t-4),C(t-3),C(t-2),...,CCI200-200,ADO>ADOt-1,HIS,DAX,AORD,N100,N225,SP500,SSE,Closing_Direction
0,2012-07-09,41099,31.730000,31.260000,31.900000,10945600,31.10,30.77,31.20,31.47,...,1,0,0,0,0,0,0,0,0,1
1,2012-07-10,41100,32.169998,31.990000,32.880001,17785200,30.77,31.20,31.47,31.73,...,1,0,0,1,0,1,0,0,0,0
2,2012-07-11,41101,31.469999,31.160000,32.480000,14269500,31.20,31.47,31.73,32.17,...,0,1,1,1,0,0,0,0,1,0
3,2012-07-12,41102,30.969999,30.549999,31.559999,13030300,31.47,31.73,32.17,31.47,...,0,1,0,0,0,0,0,0,1,0
4,2012-07-13,41103,30.809999,30.600000,31.400000,11300700,31.73,32.17,31.47,30.97,...,0,0,1,1,1,1,1,0,1,0

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
spark

In [22]:
df_pyspark = spark.read.option('header','true').csv("FB.csv",inferSchema=True)

AttributeError: 'function' object has no attribute 'read'

In [11]:
df_pyspark.head()

Row(Date='2012-07-09', ID='41099', Close='31.73', Low='31.26', High='31.9', Volume='10945600', C(t-5)='31.1', C(t-4)='30.77', C(t-3)='31.2', C(t-2)='31.47', C(t-4)>C(t-5)='0', C(t-3)>C(t-4)='1', C(t-2)>C(t-3)='1', C(t-1)>C(t-2)='1', MA-10='28.5', MA-5='31.25', WMA-10='31.53', SO='57.43', M='-1.32', SSO='0.61', EMA='31.78', MACD_Sline_9='0.7', RSI='45.47', CCI='37.34', ADO='0.47', MA-10>C='1', MA-5>C='1', WMA-10>C='1', SO>SOt-1='0', M>0='0', SSO>SSOt-1='1', EMA>C='0', MACD t-1 > MACD t-2='0', RSI70-30='1', CCI200-200='1', ADO>ADOt-1='0', HIS='0', DAX='0', AORD='0', N100='0', N225='0', SP500='0', SSE='0', Closing_Direction='1')

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.head()

Row(Date='2012-07-09', ID='41099', Close='31.73', Low='31.26', High='31.9', Volume='10945600', C(t-5)='31.1', C(t-4)='30.77', C(t-3)='31.2', C(t-2)='31.47', C(t-4)>C(t-5)='0', C(t-3)>C(t-4)='1', C(t-2)>C(t-3)='1', C(t-1)>C(t-2)='1', MA-10='28.5', MA-5='31.25', WMA-10='31.53', SO='57.43', M='-1.32', SSO='0.61', EMA='31.78', MACD_Sline_9='0.7', RSI='45.47', CCI='37.34', ADO='0.47', MA-10>C='1', MA-5>C='1', WMA-10>C='1', SO>SOt-1='0', M>0='0', SSO>SSOt-1='1', EMA>C='0', MACD t-1 > MACD t-2='0', RSI70-30='1', CCI200-200='1', ADO>ADOt-1='0', HIS='0', DAX='0', AORD='0', N100='0', N225='0', SP500='0', SSE='0', Closing_Direction='1')

In [14]:
df_pyspark.printSchema()

root
 |-- Date: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- C(t-5): string (nullable = true)
 |-- C(t-4): string (nullable = true)
 |-- C(t-3): string (nullable = true)
 |-- C(t-2): string (nullable = true)
 |-- C(t-4)>C(t-5): string (nullable = true)
 |-- C(t-3)>C(t-4): string (nullable = true)
 |-- C(t-2)>C(t-3): string (nullable = true)
 |-- C(t-1)>C(t-2): string (nullable = true)
 |-- MA-10: string (nullable = true)
 |-- MA-5: string (nullable = true)
 |-- WMA-10: string (nullable = true)
 |-- SO: string (nullable = true)
 |-- M: string (nullable = true)
 |-- SSO: string (nullable = true)
 |-- EMA: string (nullable = true)
 |-- MACD_Sline_9: string (nullable = true)
 |-- RSI: string (nullable = true)
 |-- CCI: string (nullable = true)
 |-- ADO: string (nullable = true)
 |-- MA-10>C: string (nullable = true)
 |-- MA-5>C: string (nullable = true)
 |-- WMA-10>C: string (nullable = true)
 |-- SO>SOt-1: string (nullable = true)
 |-- M>0: string (nullable = true)
 |-- SSO>SSOt-1: string (nullable = true)
 |-- EMA>C: string (nullable = true)
 |-- MACD t-1 > MACD t-2: string (nullable = true)
 |-- RSI70-30: string (nullable = true)
 |-- CCI200-200: string (nullable = true)
 |-- ADO>ADOt-1: string (nullable = true)
 |-- HIS: string (nullable = true)
 |-- DAX: string (nullable = true)
 |-- AORD: string (nullable = true)
 |-- N100: string (nullable = true)
 |-- N225: string (nullable = true)
 |-- SP500: string (nullable = true)
 |-- SSE: string (nullable = true)
 |-- Closing_Direction: string (nullable = true)

In [19]:
df_pyspark

DataFrame[Date: string, ID: string, Close: string, Low: string, High: string, Volume: string, C(t-5): string, C(t-4): string, C(t-3): string, C(t-2): string, C(t-4)>C(t-5): string, C(t-3)>C(t-4): string, C(t-2)>C(t-3): string, C(t-1)>C(t-2): string, MA-10: string, MA-5: string, WMA-10: string, SO: string, M: string, SSO: string, EMA: string, MACD_Sline_9: string, RSI: string, CCI: string, ADO: string, MA-10>C: string, MA-5>C: string, WMA-10>C: string, SO>SOt-1: string, M>0: string, SSO>SSOt-1: string, EMA>C: string, MACD t-1 > MACD t-2: string, RSI70-30: string, CCI200-200: string, ADO>ADOt-1: string, HIS: string, DAX: string, AORD: string, N100: string, N225: string, SP500: string, SSE: string, Closing_Direction: string]

In [20]:
df_pyspark.show()

+----------+-----+---------+---------+---------+---------+------+------+------+------+-------------+-------------+-------------+-------------+-----+-----+------+-----+-----+----+-----+------------+-----+-------+-----+-------+------+--------+--------+---+----------+-----+-------------------+--------+----------+----------+---+---+----+----+----+-----+---+-----------------+
|      Date|   ID|    Close|      Low|     High|   Volume|C(t-5)|C(t-4)|C(t-3)|C(t-2)|C(t-4)>C(t-5)|C(t-3)>C(t-4)|C(t-2)>C(t-3)|C(t-1)>C(t-2)|MA-10| MA-5|WMA-10|   SO|    M| SSO|  EMA|MACD_Sline_9|  RSI|    CCI|  ADO|MA-10>C|MA-5>C|WMA-10>C|SO>SOt-1|M>0|SSO>SSOt-1|EMA>C|MACD t-1 > MACD t-2|RSI70-30|CCI200-200|ADO>ADOt-1|HIS|DAX|AORD|N100|N225|SP500|SSE|Closing_Direction|
+----------+-----+---------+---------+---------+---------+------+------+------+------+-------------+-------------+-------------+-------------+-----+-----+------+-----+-----+----+-----+------------+-----+-------+-----+-------+------+--------+--------+---+----------+-----+-------------------+--------+----------+----------+---+---+----+----+----+-----+---+-----------------+
|2012-07-09|41099|    31.73|    31.26|     31.9| 10945600|  31.1| 30.77|  31.2| 31.47|            0|            1|            1|            1| 28.5|31.25| 31.53|57.43|-1.32|0.61|31.78|         0.7|45.47|  37.34| 0.47|      1|     1|       1|       0|  0|         1|    0|                  0|       1|         1|         0|  0|  0|   0|   0|   0|    0|  0|                1|
|2012-07-10|41100|32.169998|    31.99|32.880001| 17785200| 30.77|  31.2| 31.47| 31.73|            1|            1|            1|            1|28.51|31.47|  31.6|55.86| 0.11|0.59|32.25|        0.68| 47.6|  65.86| -0.6|      1|     1|       1|       0|  1|         0|    0|                  0|       1|         1|         0|  0|  1|   0|   1|   0|    0|  0|                0|
|2012-07-11|41101|31.469999|    31.16|    32.48| 14269500|  31.2| 31.47| 31.73| 32.17|            1|            1|            1|            0|28.35|31.61| 31.55|31.72|-1.63|0.49|31.31|        0.66|44.61|  27.85|-0.53|      1|     0|       0|       0|  0|         0|    1|                  0|       0|         0|         1|  1|  1|   0|   0|   0|    0|  1|                0|
|2012-07-12|41102|30.969999|30.549999|31.559999| 13030300| 31.47| 31.73| 32.17| 31.47|            1|            1|            0|            0|28.22|31.56| 31.43|14.48|-1.26|0.34| 30.9|        0.62|42.56| -29.06|-0.17|      1|     0|       0|       0|  0|         0|    1|                  0|       0|         0|         1|  0|  0|   0|   0|   0|    0|  1|                0|
|2012-07-13|41103|30.809999|     30.6|     31.4| 11300700| 31.73| 32.17| 31.47| 30.97|            1|            0|            0|            0|28.17|31.43| 31.31| 8.97|-0.55|0.18|30.79|        0.58|41.89| -58.62|-0.48|      1|     0|       0|       0|  0|         0|    1|                  0|       0|         0|         0|  1|  1|   1|   1|   1|    0|  1|                0|
|2012-07-16|41106|30.719999|30.559999|    31.07|  8108300| 32.17| 31.47| 30.97| 30.81|            0|            0|            0|            0|28.13|31.23| 31.21| 5.88|-0.38| 0.1|30.71|        0.53| 41.5| -95.64|-0.37|      1|     0|       0|       0|  0|         0|    1|                  0|       0|         0|         1|  1|  1|   1|   1|   1|    1|  0|                0|
|2012-07-17|41107|    28.25|28.209999|     30.5| 24672100| 31.47| 30.97| 30.81| 30.72|            0|            0|            0|            0|27.88|30.44| 30.66| 1.38|-2.52|0.05|27.76|        0.43| 32.5|-278.88|-0.97|      1|     0|       0|       0|  0|         0|    1|                  0|       0|         1|         0|  1|  1|   1|   0|   1|    0|  1|                0|
|2012-07-18|41108|    28.09|    27.15|    28.59| 30438600| 30.97| 30.81| 30.72| 28.25|            0|            0|            0|            0|27.57|29.77| 30.14|20.04|-3.11|0.11|28.16|        0.32|32.01|-291.78| 0.31|      1|     0|       0|       1|  0|         1|    0|                  0|       0|         1|         1|  0|  1|   0|   1|   0|    1|  1|                1|
|2012-07-19|41109|29.110001|    28.15|29.290001| 16841800| 30.81| 30.72| 28.25| 28.09|            0|            0|            0|            1|27.33| 29.4| 29.85|34.21|-2.36|0.22| 29.3|         0.2|38.33|-172.06| 0.68|      1|     0|       0|       1|  0|         1|    0|                  0|       1|         1|         1|  1|  1|   1|   1|   1|    1|  1|                0|
|2012-07-20|41110|       29|28.629999|     29.5| 13685100| 30.72| 28.25| 28.09| 29.11|            0|            0|            1|            0|27.06|29.03| 29.59|32.29|-2.73|0.29|28.94|         0.1|37.92|-130.31|-0.15|      1|     0|       0|       0|  0|         1|    1|                  0|       0|         1|         0|  1|  0|   0|   0|   0|    1|  0|                0|
|2012-07-23|41113|    28.76|28.719999|29.469999| 11869100| 28.25| 28.09| 29.11|    29|            0|            1|            0|            0|26.72|28.64| 29.32| 28.1|-3.41|0.32|28.72|           0|36.99|-108.09|-0.89|      1|     1|       0|       0|  0|         1|    1|                  0|       0|         1|         0|  0|  0|   0|   0|   0|    0|  0|                0|
|2012-07-24|41114|    28.75|    28.01|       29| 12390700| 28.09| 29.11|    29| 28.76|            1|            0|            0|            0|26.45|28.74|  29.1|27.92|-2.72|0.29|28.76|       -0.09|36.95|-111.98| 0.49|      1|     1|       0|       0|  0|         0|    0|                  0|       0|         0|         1|  0|  0|   1|   0|   0|    0|  1|                0|
|2012-07-25|41115|28.450001|     28.1|29.450001| 11539800| 29.11|    29| 28.76| 28.75|            0|            0|            0|            0|26.19|28.81| 28.89|22.69|-2.52|0.26|28.39|       -0.17|35.68| -88.76|-0.48|      1|     0|       0|       0|  0|         0|    1|                  0|       0|         1|         0|  0|  1|   0|   1|   0|    0|  0|                1|
|2012-07-26|41116|    29.34|    28.08|    29.49| 17230200|    29| 28.76| 28.75| 28.45|            0|            0|            0|            1|26.05|28.86|  28.9|38.22|-1.47| 0.3|29.53|       -0.23|42.02| -65.56| 0.79|      1|     1|       1|       1|  0|         1|    0|                  0|       1|         1|         1|  1|  1|   1|   1|   1|    0|  0|                0|
|2012-07-27|41117|    26.85|    26.73|    28.23| 64597400| 28.76| 28.75| 28.45| 29.34|            0|            0|            1|            0|25.66|28.43| 28.49| 2.09|-3.87|0.21|26.31|       -0.31| 32.4|-134.38|-0.84|      0|     0|       0|       0|  0|         0|    1|                  0|       0|         0|         0|  1|  1|   1|   1|   1|    1|  1|                0|
|2012-07-30|41120|23.709999|22.280001|24.540001|123102300| 28.75| 28.45| 29.34| 26.85|            0|            1|            0|            0|25.21|27.42| 27.58|24.87|-4.54|0.22|23.19|       -0.46|24.72|-251.14| 0.27|      0|     0|       0|       1|  0|         1|    1|                  0|       1|         1|         1|  1|  1|   1|   1|   1|    1|  0|                0|
|2012-07-31|41121|    23.15|23.030001|24.040001| 29285900| 28.45| 29.34| 26.85| 23.71|            1|            0|            0|            0|24.71| 26.3| 26.69| 9.37|-4.94|0.12|23.14|       -0.63|23.64|-214.18|-0.76|      0|     0|       0|       0|  0|         0|    1|                  0|       1|         1|         0|  1|  0|   1|   0|   1|    0|  0|                0|
|2012-08-01|41122|21.709999|21.610001|23.370001| 56179400| 29.34| 26.85| 23.71| 23.15|            0|            0|            0|            0|23.97|24.95| 25.63|  1.1| -7.4| 0.1|21.42|       -0.85| 21.1|-208.63|-0.89|      0|     0|       0|       0|  0|         0|    1|                  0|       1|         1|         0|  1|  0|   0|   1|   0|    0|  1|                0|
|2012-08-02|41123|20.879999|    20.84|    21.58| 44604400| 26.85| 23.71| 23.15| 21.71|            0|            0|            0|            0|23.16|23.26| 24.54| 0.42|-8.12|0.04|20.77|       -1.09|19.78|-186.76|-0.89|      0|     0|       0|       0|  0|         0|    1|                  0|       1|         1|         0|  0|  0|   1|   0|   1|    0|  0|                0|
|2012-08-03|41124|20.040001|    19.82|    20.84| 56374500| 23.71| 23.15| 21.71| 20.88|            0|            0|            0|            0|22.29| 21.9| 23.45| 2.28|-8.72|0.01|19.89|       -1.34|18.51|-164.37|-0.57|      0|     0|       0|       1|  0|         0|    1|                  0|       1|         1|         1|  0|  1|   0|   1|   0|    0|  1|                1|
+----------+-----+---------+---------+---------+---------+------+------+------+------+-------------+-------------+-------------+-------------+-----+-----+------+-----+-----+----+-----+------------+-----+-------+-----+-------+------+--------+--------+---+----------+-----+-------------------+--------+----------+----------+---+---+----+----+----+-----+---+-----------------+
only showing top 20 rows

In [21]:
df_pyspark.printSchema()

root
 |-- Date: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- C(t-5): string (nullable = true)
 |-- C(t-4): string (nullable = true)
 |-- C(t-3): string (nullable = true)
 |-- C(t-2): string (nullable = true)
 |-- C(t-4)>C(t-5): string (nullable = true)
 |-- C(t-3)>C(t-4): string (nullable = true)
 |-- C(t-2)>C(t-3): string (nullable = true)
 |-- C(t-1)>C(t-2): string (nullable = true)
 |-- MA-10: string (nullable = true)
 |-- MA-5: string (nullable = true)
 |-- WMA-10: string (nullable = true)
 |-- SO: string (nullable = true)
 |-- M: string (nullable = true)
 |-- SSO: string (nullable = true)
 |-- EMA: string (nullable = true)
 |-- MACD_Sline_9: string (nullable = true)
 |-- RSI: string (nullable = true)
 |-- CCI: string (nullable = true)
 |-- ADO: string (nullable = true)
 |-- MA-10>C: string (nullable = true)
 |-- MA-5>C: string (nullable = true)
 |-- WMA-10>C: string (nullable = true)
 |-- SO>SOt-1: string (nullable = true)
 |-- M>0: string (nullable = true)
 |-- SSO>SSOt-1: string (nullable = true)
 |-- EMA>C: string (nullable = true)
 |-- MACD t-1 > MACD t-2: string (nullable = true)
 |-- RSI70-30: string (nullable = true)
 |-- CCI200-200: string (nullable = true)
 |-- ADO>ADOt-1: string (nullable = true)
 |-- HIS: string (nullable = true)
 |-- DAX: string (nullable = true)
 |-- AORD: string (nullable = true)
 |-- N100: string (nullable = true)
 |-- N225: string (nullable = true)
 |-- SP500: string (nullable = true)
 |-- SSE: string (nullable = true)
 |-- Closing_Direction: string (nullable = true)

In [23]:
df_pyspark = spark.read.option('header','true').csv("FB.csv",inferSchema=True)

AttributeError: 'function' object has no attribute 'read'

In [24]:
spark

In [25]:
df_pyspark.printSchema()

root
 |-- Date: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- C(t-5): string (nullable = true)
 |-- C(t-4): string (nullable = true)
 |-- C(t-3): string (nullable = true)
 |-- C(t-2): string (nullable = true)
 |-- C(t-4)>C(t-5): string (nullable = true)
 |-- C(t-3)>C(t-4): string (nullable = true)
 |-- C(t-2)>C(t-3): string (nullable = true)
 |-- C(t-1)>C(t-2): string (nullable = true)
 |-- MA-10: string (nullable = true)
 |-- MA-5: string (nullable = true)
 |-- WMA-10: string (nullable = true)
 |-- SO: string (nullable = true)
 |-- M: string (nullable = true)
 |-- SSO: string (nullable = true)
 |-- EMA: string (nullable = true)
 |-- MACD_Sline_9: string (nullable = true)
 |-- RSI: string (nullable = true)
 |-- CCI: string (nullable = true)
 |-- ADO: string (nullable = true)
 |-- MA-10>C: string (nullable = true)
 |-- MA-5>C: string (nullable = true)
 |-- WMA-10>C: string (nullable = true)
 |-- SO>SOt-1: string (nullable = true)
 |-- M>0: string (nullable = true)
 |-- SSO>SSOt-1: string (nullable = true)
 |-- EMA>C: string (nullable = true)
 |-- MACD t-1 > MACD t-2: string (nullable = true)
 |-- RSI70-30: string (nullable = true)
 |-- CCI200-200: string (nullable = true)
 |-- ADO>ADOt-1: string (nullable = true)
 |-- HIS: string (nullable = true)
 |-- DAX: string (nullable = true)
 |-- AORD: string (nullable = true)
 |-- N100: string (nullable = true)
 |-- N225: string (nullable = true)
 |-- SP500: string (nullable = true)
 |-- SSE: string (nullable = true)
 |-- Closing_Direction: string (nullable = true)

In [26]:
df_pyspark = spark.read.option('header','true').csv('FB.csv',inferSchema=True)

AttributeError: 'function' object has no attribute 'read'